<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">

    <div class="form-group">
        <label for="income">Income:</label>
        <input type="text" id="income" name="income" placeholder="Enter income value (float)">
    </div>

    <div class="form-group">
        <label for="customer_for">Customer_for:</label>
        <input type="text" id="customer_for" name="customer_for" placeholder="Enter Customer_for value (int)">
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" placeholder="Enter Age value (int)">
    </div>

    <div class="form-group">
        <label for="spent">Spent:</label>
        <input type="text" id="spent" name="spent" placeholder="Enter Spent value (int)">
    </div>

    <div class="form-group">
        <label for="children">Children:</label>
        <input type="text" id="children" name="children" placeholder="Enter Children value (int)">
    </div>

    <div style="clear:both;"></div>
    <input type="submit" value="Submit">
</form>
</body>
</html>
