<h1>Customer Personality Analysis</h1>
<h2>Made by Shashak Shukla</h2>
<body>
    In this project, I will be performing an unsupervised clustering of
    data on the customer's records from a groceries firm's database.
    Customer segmentation is the practice of separating customers into
    groups that reflect similarities among customers in each cluster. I
    will divide customers into segments to optimize the significance of
    each customer to the business. To modify products according to distinct
    needs and behaviours of the customers. It also helps the business to cater
    to the concerns of different types of customers.
</body>